.input-container {
  margin: 1.5rem 0rem;
}

.input-container-row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.input-container-row > div {
  width: 100%;
}

strong {
  font-weight: 600;
}

#errors {
  display: none;
}

#success {
  color: green;
  display: none;
}

.error {
  color: red;
}

#customersSection {
  display: none;
}
